// style
@use "modules/destyle";
@use "modules/mixin" as mixin;
@use "sass:color";
@use "sass:map";
@use "sass:math";

$pc-w: 1280;
$c-w: 1080;
$layer: (
  modal: 50,
  drawer: 40,
  header: 30,
  float: 20,
  base:1,
);

// $ico-arrow-down: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSI+CiAgPHBhdGggaWQ9IuWkmuinkuW9ol80IiBkYXRhLW5hbWU9IuWkmuinkuW9oiA0IiBkPSJNNiwwbDYsOUgwWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTIgOSkgcm90YXRlKDE4MCkiIGZpbGw9IiNmZmYiLz4KPC9zdmc+Cg==';

@function xdlh($font, $line) {
	@return calc($line / $font);
}
@function w($px) {
  @return round(math.div($px * 10000, $pc-w)) * 0.01 * 1vw;
}

:root {
  --color-text: #333333;
  --color-accent: #f77a28;
  --color-white: #ffffff;
  --color-gray: #ececec;
}

.lato-400{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.lato-700{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 10px;
  text-size-adjust: 1.6;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
  background-color: var(--color-white);
  color: var(--color-text);
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
  + p {
    margin-top: 1.5rem;
  }
}

a:hover {
  opacity: .7;
}

.h1, .h2, .h3 {
  @extend .lato-700;
  font-weight: bold;
  line-height: 1.4;
}
.h2{
  font-size: 3.2rem;
}
.h3{
  font-size: 2.4rem;
  padding-bottom: 1rem;
  border-bottom: var(--color-accent) solid 1px;
}

.l-content{
  opacity: 0;
  transform: translateY(2rem);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  max-width: $c-w * 1px;
  margin: 6rem auto 0;
}

.l-love{
  @include mixin.flex($align: between, $valign: center);
  .l-love__img{
    width: w(432);
    height: w(287);
    img{
      width: w(432);
      height: w(287);
      object-fit: cover;
      border-radius: 2rem;
    }
  }
  .l-love__text-block{
    width: calc(100% - w(432));
    padding: 0 3rem;
    .h3{
      text-align: center;
      margin-bottom: 3rem;
    }
    p{
      font-size: 1.8rem;
    }
  }
}

.main {
  display: grid;
  min-height: 100vh;
}

.header{
  z-index: -1;
  position: relative;
  width: 100vw;
  height: w(480);
  .header__block{
    z-index: map.get($layer, float);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include mixin.flex($wrap: true, $valign: center, $align: center);
    .header__text{
      text-align: center;
      .h1{
        width: 100%;
        font-size: 9rem;
        color: var(--color-white);
        span{
          color: var(--color-accent);
        }
      }
      p{
        width: 100%;
        color: var(--color-white);
        font-size: 2rem;
      }
    }
  }
  .header__img{
    z-index: map.get($layer, base);
    position: relative;
    img{
      width: 100vw;
      height: w(480);
      object-fit: cover;
      filter: brightness(0.6);
    }
  }
}

.feature{
  width: 100%;
  .feature__text-block{
    text-align: center;
    .feature__img{
      img{
        width: 100%;
        height: 30.4rem;
        object-fit: cover;
        border-radius: 2rem;
      }
    }
    .h2{
      margin-top: 45px;
    }
    .feature__text{
      font-size: 2rem;
      margin-top: 3rem;
    }
  }
}

.gallery{
  overflow: hidden;
  @include mixin.flex();
  margin-top: 3rem;
  .gallery-block{
    @include mixin.flex();
    animation: scroll 30s infinite linear 0s both;
    img{
      min-width: w(270);
      height: w(200);
      object-fit: cover;
    }
  }
}

.love02{
  .l-love__img{
    img{
      object-position: 0vw -7vw;
    }
  }
}

.insta{
  text-align: center;
  .insta-feed{
    @include mixin.flex;
    margin-top: 3rem;
    a{
      display: block;
      width: calc(100% / 3);
      img{
        width: 100%;
        height: w(300);
        object-fit: cover;
      }
    }
  }
}

.footer{
  @include mixin.flex($align: center, $valign: center);
  height: 6.7rem;
  margin-top: 6rem;
  background-color: var(--color-gray);
}

.is-visible{
  opacity: 1;
  transform: translateY(0);
}

@media screen and (min-width: 960px) {
}

@media (prefers-reduced-motion: reduce) {
  .l-content {
    animation: none !important;
    transform: none !important;
    transition: none !important;
    opacity: 1 !important;
  }
}